@import url("https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@-11..11,200..1000&display=swap");
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-align: start;
}
*.light, .light * {
  color: #161616;
}
*.dark, .dark * {
  color: #ededed;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

*::-moz-placeholder {
  -moz-transition: 0.5s;
  transition: 0.5s;
}

*::placeholder {
  transition: 0.5s;
}

input:focus::-moz-placeholder {
  opacity: 0;
}

input:focus::placeholder {
  opacity: 0;
}

.app {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  position: relative;
}
.app.light, .light .app {
  background: #ffffff;
}
.app.dark, .dark .app {
  background: #474646;
}
.app.light, .light .app {
  color: #161616;
}
.app.dark, .dark .app {
  color: #ededed;
}
@media screen and (max-width: 576px) {
  .app {
    flex-direction: column;
  }
}
.app * {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  text-align: start;
}
.app {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  gap: 15px;
  padding: 15px;
}
.app aside {
  width: 460px;
}
@media screen and (max-width: 992px) {
  .app aside {
    transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    padding-top: 30px;
    z-index: 999999;
    transition: 0.5s;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
  }
  .app aside.light, .light .app aside {
    background: #ffffff;
  }
  .app aside.dark, .dark .app aside {
    background: #474646;
  }
  .app aside::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  .app aside.open {
    transform: translateX(0);
  }
  .app aside.open::before {
    transform: translateX(0);
  }
}
.app aside header {
  min-height: 130px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.app aside header button {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.app aside header button.disable, .disable .app aside header button {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.app aside header button svg {
  font-size: xxx-large;
}
.app aside header button span {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
}
.app aside header .add-new-btn {
  border-radius: 10px;
  width: 290px;
  background-color: #A5CCFF;
}
.app aside header .add-new-btn svg,
.app aside header .add-new-btn svg *,
.app aside header .add-new-btn span {
  color: black;
}
.app aside header .print-btn {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  border: 0.4px solid rgba(47, 47, 47, 0.1294117647);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
}
.app aside header .print-btn.light, .light .app aside header .print-btn {
  background: #ffffff;
}
.app aside header .print-btn.dark, .dark .app aside header .print-btn {
  background: #161616;
}
.app aside header .print-btn svg,
.app aside header .print-btn svg * {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.app aside header .print-btn svg.light, .light .app aside header .print-btn svg,
.app aside header .print-btn svg *.light,
.light .app aside header .print-btn svg * {
  color: #161616;
}
.app aside header .print-btn svg.dark, .dark .app aside header .print-btn svg,
.app aside header .print-btn svg *.dark,
.dark .app aside header .print-btn svg * {
  color: #474646;
}
.app aside article {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  border: 0.4px solid rgba(47, 47, 47, 0.1294117647);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
}
.app aside article.light, .light .app aside article {
  background: #ffffff;
}
.app aside article.dark, .dark .app aside article {
  background: #161616;
}
.app aside article.disable, .disable .app aside article {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.app aside article.cart {
  padding-top: 15px;
  border-radius: 0;
  display: flex;
  gap: 15px;
  flex-direction: column;
  height: 500px;
  overflow-y: auto;
}
.app aside article.cart section {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  border-bottom: 0.4px solid rgba(47, 47, 47, 0.1294117647);
  padding: 15px;
}
.app aside article.cart section.light, .light .app aside article.cart section {
  background: #ffffff;
}
.app aside article.cart section.dark, .dark .app aside article.cart section {
  background: #474646;
}
.app aside article.cart section * {
  flex: 1;
  text-align: center;
  height: 24px;
  line-height: 20px;
}
.app aside article.cart section .remove-product {
  cursor: pointer;
  border-radius: 10px;
  background-color: #ff7575;
  color: #ffffff;
  flex: 0.5;
  padding: 2px 0;
}
.app aside article.discount {
  margin-top: 15px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.app aside article.discount p {
  padding: 0 15px;
}
.app aside article.discount div {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  border-right: 0.4px solid rgba(47, 47, 47, 0.1294117647);
  width: 80px;
  line-height: 45px;
  text-align: center;
}
.app aside article.discount div.light, .light .app aside article.discount div {
  background: #ffffff;
}
.app aside article.discount div.dark, .dark .app aside article.discount div {
  background: #474646;
}
.app aside article.total {
  margin-top: 15px;
  height: 215px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app aside article.total .total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.app aside article.total .total-price p {
  font-weight: bold;
}
.app aside article.total .total-price div {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  text-align: end;
}
.app aside article.total .cart-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.app aside article.total .cart-actions button {
  font-size: 20px;
  line-height: 60px;
  font-weight: 900;
  text-align: center;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
}
.app aside article.total .cart-actions button:first-child {
  background-color: #ff7575;
}
.app aside article.total .cart-actions button:last-child {
  background-color: #009692;
}
.app main {
  flex: 1;
  position: relative;
  padding: 0 15px;
}
@media screen and (max-width: 576px) {
  .app main {
    width: 100%;
  }
}
.app main header {
  min-height: 64px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.app main header section {
  display: flex;
}
.app main header section button {
  height: 64px;
}
.app main header section button.header-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
.app main header section button.header-btn.disable, .disable .app main header section button.header-btn {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.app main header section button.header-btn:first-child {
  background-color: #ff7575;
  width: 250px;
}
.app main header section button.header-btn:last-child {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  border: 0.4px solid rgba(47, 47, 47, 0.1294117647);
  width: 200px;
}
.app main header section button.header-btn:last-child.light, .light .app main header section button.header-btn:last-child {
  background: #ffffff;
}
.app main header section button.header-btn:last-child.dark, .dark .app main header section button.header-btn:last-child {
  background: #161616;
}
.app main header section button.header-btn span {
  line-height: 64px;
}
.app main header .system-locked {
  gap: 10px;
}
.app main header .system-locked * {
  color: #ff0000;
  font-size: 24px;
}
.app main header .barger-btn,
.app main header .theme-btn {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  border: 0.4px solid rgba(47, 47, 47, 0.1294117647);
  width: 60px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.app main header .barger-btn.light, .light .app main header .barger-btn,
.app main header .theme-btn.light,
.light .app main header .theme-btn {
  background: #ffffff;
}
.app main header .barger-btn.dark, .dark .app main header .barger-btn,
.app main header .theme-btn.dark,
.dark .app main header .theme-btn {
  background: #161616;
}
.app main header .barger-btn {
  border-radius: 50%;
  height: 60px;
}
@media screen and (min-width: 992px) {
  .app main header .barger-btn {
    display: none;
  }
}
.app main header .barger-btn.open {
  position: fixed;
  top: 30px;
  left: 20px;
  z-index: 999999;
  transform: rotate(90deg);
}
.app main header .search-input {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  border: 0.4px solid rgba(47, 47, 47, 0.1294117647);
  width: 300px;
  height: 64px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.app main header .search-input.light, .light .app main header .search-input {
  background: #ffffff;
}
.app main header .search-input.dark, .dark .app main header .search-input {
  background: #161616;
}
.app main header .search-input.disable, .disable .app main header .search-input {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.app main header .search-input input {
  font-weight: normal;
}
.app main .collections {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  border: 0.4px solid rgba(47, 47, 47, 0.1294117647);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1607843137);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.app main .collections.light, .light .app main .collections {
  background: #ffffff;
}
.app main .collections.dark, .dark .app main .collections {
  background: #161616;
}
.app main .collections .collection > section {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.app main .collections .collection h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
  text-align: start;
  margin-bottom: 15px;
}
.app main .collections .collection .product {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 235px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border: 0.4px solid rgba(47, 47, 47, 0.1294117647);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1607843137);
  border-radius: 13px;
  padding: 7px;
  margin: auto;
}
.app main .collections .collection .product.light, .light .app main .collections .collection .product {
  background: #ffffff;
}
.app main .collections .collection .product.dark, .dark .app main .collections .collection .product {
  background: #474646;
}
.app main .collections .collection .product.disable, .disable .app main .collections .collection .product {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.app main .collections .collection .product * {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}
.app main .collections .collection .product .product-size {
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 10px;
  left: 5px;
  height: 25px;
  width: 50px;
  border-radius: 13px;
  border: 0.4px solid rgba(47, 47, 47, 0.1294117647);
}
.app main .collections .collection .product .product-size.light, .light .app main .collections .collection .product .product-size {
  background: #ffffff;
}
.app main .collections .collection .product .product-size.dark, .dark .app main .collections .collection .product .product-size {
  background: #161616;
}
.app main .disable-system {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 9999999999999;
  width: 165px;
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  border-radius: 47px;
}
.app main .disable-system.light, .light .app main .disable-system {
  background: #161616;
}
.app main .disable-system.dark, .dark .app main .disable-system {
  background: #ededed;
}
.app main .disable-system.light, .light .app main .disable-system {
  color: #ffffff;
}
.app main .disable-system.dark, .dark .app main .disable-system {
  color: #161616;
}

.icon {
  font-size: 24px;
}
.icon,
.icon * {
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}
.icon.light, .light .icon,
.icon *.light,
.light .icon * {
  color: #161616;
}
.icon.dark, .dark .icon,
.icon *.dark,
.dark .icon * {
  color: #474646;
}

/* Invoice styles */
.invoice {
  background-color: gray;
  position: fixed;
  left: -100%;
  opacity: 0;
  color: #333;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  min-height: 795px;
}
.invoice * {
  color: #161616;
}
.invoice .header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 10px;
}
.invoice .header h2 {
  font-size: 24px;
  margin: 0;
}
.invoice .code {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  text-align: end;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid #161616;
}
.invoice .title {
  text-align: center;
  margin: 20px 0;
}
.invoice .table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.invoice .table .item {
  height: 40px;
  display: flex;
  border: 1px solid #161616;
  padding: 5px;
}
.invoice .table .item div {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  text-align: center;
  padding: 5px 0;
  flex: 1;
}
.invoice .table .item :not(:first-child) {
  border-right: 1px solid #161616;
}
.invoice .table .item.head .index {
  transform: rotate(-90deg);
}
.invoice .table .item .index {
  flex: 0.3;
}
.invoice .table .item .name-col {
  flex: 1.7;
}
.invoice .table .item.product {
  margin-top: 15px;
}
.invoice .total {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
}
.invoice .total .total-amount {
  padding: 10px;
  border: 1px solid #333;
  min-width: 80px;
  max-width: 200px;
  text-align: center;
}
.invoice footer {
  text-align: center;
  font-size: 12px;
  color: gray;
  margin-top: 20px;
}

/* Print styles */
@media print {
  @page {
    size: A5;
    margin: 0;
    padding: 0;
  }
  body * {
    visibility: hidden;
  }
  aside {
    display: none;
  }
  main {
    display: none;
  }
  .invoice,
  .invoice * {
    visibility: visible;
  }
  .invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 1;
  }
}/*# sourceMappingURL=globals.css.map */